// Colors

$dark-blue: #15245a;
$light-blue: #4b68d7;
$white: #e6e6e6;
$green: #0aa607;
$red: #a52853;

// Fonts
$font-family: "Roboto", sans-serif;

// Global Styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  body {
    background-color: $dark-blue;
    font-family: $font-family;
  }
}
